{:paths ["src"]

 :deps
 {org.clojure/clojurescript {:mvn/version "1.10.520"}

  binaryage/devtools {:mvn/version "0.9.10"}

  rum {:mvn/version "0.11.3"
       :exclusions [sablono
                    cljsjs/react
                    cljsjs/react-dom]}

  sablono {:git/url "https://github.com/pedrorgirardi/sablono"
           :sha "07ddbbc9b98baf8fffb5f760e11cf8f7cb8a1ba4"}}}